$search-engines: yep, seznam, naver, yandex, ddgo, yahoo, bing, google;
@use "sass:math";
@use "sass:list";

@mixin init-orbit-size($initial-val: 12dvmin) {
    @for $i from 1 through list.length($search-engines) {
        $orbit: list.nth($search-engines, $i);
        #{'--' + $orbit + '-orbit-size'}: $i * $initial-val;
    }
}

@mixin set-orbit-size() {
    @each $search-engine in $search-engines {
        .orbit.#{$search-engine} {
            #{"--size"}: var(#{"--" + $search-engine + "-orbit-size"});
        }
    }
}

@mixin set-icon-size($initial-val: 4dvmin) {
    @for $i from 1 through list.length($search-engines) {
        $search-engine: list.nth($search-engines, $i);
        .body.#{$search-engine} {
            #{"--size"}: ($i - 0.5) + $initial-val;
        }
    }
}

@mixin set-orbit-progress($initial-val: 0.1) {
    @for $i from 1 through list.length($search-engines) {
        $search-engine: list.nth($search-engines, $i);
        .body.#{$search-engine} {
            #{"--orbit-progress"}: math.div($i, 5) + $initial-val;
        }
    }
}

@mixin set-body-var() {
    $icons: list.join(hawk-js, $search-engines);

    @for $i from 1 through list.length($icons) {
        $icon: list.nth($icons, $i);
        .body.#{$icon} {
            #{"--i"}: $i - 1;
            #{"--color-1"}: white;
            #{"--color-2"}: white;
            @if ($i>1) {
                #{"--astronomical-unit"}: calc(var(#{"--" + $icon + "-orbit-size"}) / 2);
            }
        }
    }
}

.universe {
    --pov: 66deg;
    --day: 3s;
    --yandex-orbit-progress: 0.7;
    --orbit-sphere-color: theme(colors.primary/60%);
    --orbit-line-color: theme(colors.primary);
    --orbit-line-thickness: calc(0.1rem + 0.09dvmin);
    --orbit-plane-color: radial-gradient(circle at center, theme(colors.primary/1%), theme(colors.deep/1%));
    --number-of-bodies: 10;
    --circle-delay: calc(var(--day) / 3.97);
    --circular-ease: cubic-bezier(0.37, 0, 0.63, 1);
    @include init-orbit-size();
}

@include set-orbit-size();
@include set-icon-size();
@include set-orbit-progress();
@include set-body-var();

.universe {
    @apply w-full mx-auto !important;
    height: 100%;
    perspective: 50000px;
    translate: 0 -5%;
    position: relative;
}

/* orbit line */
.orbit {
    --enter-delay: calc(0.1s + var(--i) * (1s / 6));
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size, 30dvmin);
    height: var(--size, 30dvmin);
    border-radius: 50%;
    background: var(--orbit-plane-color);
    box-shadow: 0 0 0 var(--orbit-line-thickness) var(--orbit-line-color);
    transform-style: preserve-3d;
    rotate: x var(--pov);
    translate: -50% -40%;
    opacity: 0;
    -webkit-animation: orbit-appear 2s var(--enter-delay, 0.1s) forwards;
    animation: orbit-appear 2s var(--enter-delay, 0.1s) forwards;
}

@-webkit-keyframes orbit-appear {
    to {
        opacity: 1;
        translate: -50% -50%;
    }
}

@keyframes orbit-appear {
    to {
        opacity: 1;
        translate: -50% -50%;
    }
}

.body {
    --inner-orbit: 0;
    --orbit-progress: 0;
    --yandexlight-delay: calc(var(--yandex-orbit-progress) * var(--day) * -1);
    --orbit-delay: calc(var(--orbit-progress) * var(--day) * -1);
    --inverse-index: calc(var(--number-of-bodies) - var(--i));
    --shine-delay: calc((var(--yandexlight-delay) + var(--orbit-delay)) - (var(--day) * var(--inner-orbit)));
    --anim-body-reveal: body-reveal 1.5s calc(1s + 0.09s * var(--i)) forwards;
    --anim-body-index: body-index var(--day) var(--orbit-delay) infinite;
    --anim-body-shine: body-shine var(--day) var(--shine-delay) linear infinite;
    --anim-body-move-x: body-move-x var(--day) var(--orbit-delay) infinite var(--circular-ease);
    --anim-body-move-y: body-move-y var(--day) calc(var(--orbit-delay) - var(--circle-delay)) infinite
        var(--circular-ease);
    position: absolute;
    left: calc(50% + var(--astronomical-unit));
    top: 0;
    opacity: 0;
    translate: -50% calc(-50% - (50% * sin(var(--pov))));
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle at center, var(--color-1, darkgray), var(--color-2, #333) 60%);
    background-size: 300%;
    background-position: center;
    border-radius: 50%;
    -webkit-animation: var(--anim-body-reveal), var(--anim-body-index), var(--anim-body-shine), var(--anim-body-move-x),
        var(--anim-body-move-y);
    animation: var(--anim-body-reveal), var(--anim-body-index), var(--anim-body-shine), var(--anim-body-move-x),
        var(--anim-body-move-y);
}

@-webkit-keyframes body-reveal {
    to {
        top: calc(50% + var(--astronomical-unit) * cos(var(--pov)));
        opacity: 1;
    }
}

@keyframes body-reveal {
    to {
        top: calc(50% + var(--astronomical-unit) * cos(var(--pov)));
        opacity: 1;
    }
}

@-webkit-keyframes body-index {
    from,
    49% {
        z-index: var(--inverse-index);
    }
    50%,
    to {
        z-index: 0;
    }
}

@keyframes body-index {
    from,
    49% {
        z-index: var(--inverse-index);
    }
    50%,
    to {
        z-index: 0;
    }
}

@-webkit-keyframes body-shine {
    to {
        background-position-x: -100%;
    }
}

@keyframes body-shine {
    to {
        background-position-x: -100%;
    }
}

@-webkit-keyframes body-move-x {
    50% {
        left: calc(50% - var(--astronomical-unit));
    }
}

@keyframes body-move-x {
    50% {
        left: calc(50% - var(--astronomical-unit));
    }
}

@-webkit-keyframes body-move-y {
    50% {
        top: calc(50% - var(--astronomical-unit) * cos(var(--pov)));
    }
}

@keyframes body-move-y {
    50% {
        top: calc(50% - var(--astronomical-unit) * cos(var(--pov)));
    }
}

.body.hawk-js,
.body.yep,
.body.seznam,
.naver {
    --inner-orbit: 1;
}

.body.hawk-js {
    --size: 7dvmin;
    --astronomical-unit: 0%;
    --orbit-progress: calc(1 - var(--yandex-orbit-progress));
    padding: 0.4rem;
    @apply border border-primary/[30%];
}

.body.yep {
    --color-1: yellow;
    --color-2: yellow;
}

.body.seznam {
    padding: 0.2rem;
}

.body.naver {
    padding: 0.2rem;
}

.body.yandex {
    --color-1: theme(colors.gray.100);
    --color-2: theme(colors.gray.100);
    padding: 0.25rem;
}

.body.ddgo {
    --color-1: transparent;
    --color-2: transparent;
    margin-top: 3%;
}

.body.yahoo {
    padding: 0.4rem;
    margin-top: 3%;
}

.body.bing {
    margin-top: 3%;
    padding: 0.4rem;
}

.body.google {
    margin-top: 3%;
}
